.form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 90%;
  margin: 50px auto;
}

.form .formInput {
  margin-bottom: 20px;
}

.form label {
  margin-bottom: 20px;
}

.fileName {
  margin-bottom: 10px;
}

.fileName:first-child {
  margin-top: 10px;
}
